<a href="https://colab.research.google.com/github/inuin09/today-s-python/blob/main/%EC%98%A4%EB%8A%98%EC%9D%98_%ED%8C%8C%EC%9D%B4%EC%8D%AC(220113).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd
import matplotlib as mat

In [ ]:
#데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
  existing_zip.extractall('data')

--2022-01-13 04:22:17--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-01-13 04:22:17--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 172.253.123.101, 172.253.123.100, 172.253.123.139, ...
Connecting to drive.google.com (drive.google.com)|172.253.123.101|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/746q6phqeg7osdr1orpn3cksj8i56fr4/1642047675000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-01-13 04:22:18--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/746q6phqeg7osdr1orpn3cksj8i56fr4/1642047675000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 172.217.203.132, 2607:f8b0:400c:c07::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|172.217.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2022-01-13 04:22:19 (81.4 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

In [ ]:
import pandas as pd

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [ ]:
train

        id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0        3    20                  16.3  ...           76.0            33.0   49.0
1        6    13                  20.1  ...           73.0            40.0  159.0
2        7     6                  13.9  ...           32.0            19.0   26.0
3        8    23                   8.1  ...           75.0            64.0   57.0
4        9    18                  29.5  ...           27.0            11.0  431.0
...    ...   ...                   ...  ...            ...             ...    ...
1454  2174     4                  16.8  ...           37.0            27.0   21.0
1455  2175     3                  10.8  ...           34.0            19.0   20.0
1456  2176     5                  18.3  ...           30.0            21.0   22.0
1457  2178    21                  20.7  ...           71.0            36.0  216.0
1458  2179    17                  21.1  ...           38.0            17.0  170.0

[1459 rows x 11 columns]

In [ ]:
test

       id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0       0     7  ...           44.0            27.0
1       1    17  ...           49.0            36.0
2       2    13  ...           36.0            28.0
3       4     6  ...           52.0            38.0
4       5    22  ...           18.0            15.0
..    ...   ...  ...            ...             ...
710  2148     1  ...            NaN             NaN
711  2149     1  ...            NaN             NaN
712  2165     9  ...           17.0            15.0
713  2166    16  ...           40.0            26.0
714  2177     8  ...           30.0            24.0

[715 rows x 10 columns]

In [ ]:
train.shape

(1459, 11)

In [ ]:
test.shape

(715, 10)

In [ ]:
train.head

<bound method NDFrame.head of         id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0        3    20                  16.3  ...           76.0            33.0   49.0
1        6    13                  20.1  ...           73.0            40.0  159.0
2        7     6                  13.9  ...           32.0            19.0   26.0
3        8    23                   8.1  ...           75.0            64.0   57.0
4        9    18                  29.5  ...           27.0            11.0  431.0
...    ...   ...                   ...  ...            ...             ...    ...
1454  2174     4                  16.8  ...           37.0            27.0   21.0
1455  2175     3                  10.8  ...           34.0            19.0   20.0
1456  2176     5                  18.3  ...           30.0            21.0   22.0
1457  2178    21                  20.7  ...           71.0            36.0  216.0
1458  2179    17                  21.1  ...           38.0            17.0  170.0

[1459 rows x 11 columns]>

In [ ]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

In [ ]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [ ]:
train.isnull()

         id   hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0     False  False                 False  ...          False           False  False
1     False  False                 False  ...          False           False  False
2     False  False                 False  ...          False           False  False
3     False  False                 False  ...          False           False  False
4     False  False                 False  ...          False           False  False
...     ...    ...                   ...  ...            ...             ...    ...
1454  False  False                 False  ...          False           False  False
1455  False  False                 False  ...          False           False  False
1456  False  False                 False  ...          False           False  False
1457  False  False                 False  ...          False           False  False
1458  False  False                 False  ...          False           False  False

[1459 rows x 11 columns]

In [ ]:
train

        id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0        3    20                  16.3  ...           76.0            33.0   49.0
1        6    13                  20.1  ...           73.0            40.0  159.0
2        7     6                  13.9  ...           32.0            19.0   26.0
3        8    23                   8.1  ...           75.0            64.0   57.0
4        9    18                  29.5  ...           27.0            11.0  431.0
...    ...   ...                   ...  ...            ...             ...    ...
1454  2174     4                  16.8  ...           37.0            27.0   21.0
1455  2175     3                  10.8  ...           34.0            19.0   20.0
1456  2176     5                  18.3  ...           30.0            21.0   22.0
1457  2178    21                  20.7  ...           71.0            36.0  216.0
1458  2179    17                  21.1  ...           38.0            17.0  170.0

[1459 rows x 11 columns]

In [ ]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [ ]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [ ]:
test.dropna()

       id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0       0     7  ...           44.0            27.0
1       1    17  ...           49.0            36.0
2       2    13  ...           36.0            28.0
3       4     6  ...           52.0            38.0
4       5    22  ...           18.0            15.0
..    ...   ...  ...            ...             ...
708  2146     3  ...           25.0            16.0
709  2147    18  ...           35.0            28.0
712  2165     9  ...           17.0            15.0
713  2166    16  ...           40.0            26.0
714  2177     8  ...           30.0            24.0

[674 rows x 10 columns]

In [ ]:
test1 = test.dropna()

In [ ]:
test1.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

In [ ]:
test2 = test.fillna(0)

#fillna의 괄호 안에 대체하고자 하는 인수를 넣는 거 까먹지 않기

In [ ]:
test2.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

In [ ]:
# 1일차 머신러닝

In [ ]:
import sklearn 
from sklearn.tree import DecisionTreeRegressor

In [ ]:
model = DecisionTreeRegressor()

train 데이터중
예측해야할 count 피쳐를 drop()함수를 사용하고, axis=1 옵션을 사용해 해당 열을 제외한 데이터들을 X_train 이라는 이름의 DataFrame 객체로 만들고
count 피쳐만을 데이터로 갖는 Y_train 이라는 이름의 DataFrame 객체로 만드는 코드를 아래에 작성하세요

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [ ]:
X_train = train.drop(['count'],axis=1)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
dtypes: float64(8), int64(2)
memory usage: 114.1 KB

In [ ]:
Y_train = train['count']

In [ ]:
Y_train

0        49.0
1       159.0
2        26.0
3        57.0
4       431.0
        ...
1454     21.0
1455     20.0
1456     22.0
1457    216.0
1458    170.0
Name: count, Length: 1459, dtype: float64

model 변수명으로 모델을 선언하고, fit() 함수를 사용해서, X_train 을 input 으로 삼고, Y_train 을 output 으로 삼아 모델을 훈련시키는 코드를 아래에 작성하세요

In [ ]:
model.fit(X_train, Y_train)

ValueError: ignored

In [ ]:
X_train = X_train.fillna(0)

In [ ]:
model.fit(X_train, Y_train)

DecisionTreeRegressor()

predict() 를 이용해 test data 를 훈련된 모델로 예측한 data 를 생성하고 예측결과 상위 5개를 출력하는 코드를 작성하세요.

In [ ]:
pred = model.predict(test)
pred[:5]

ValueError: ignored

In [ ]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [ ]:
test = test.fillna(0)

In [ ]:
pred = model.predict(test)
pred[:5]

array([117., 164.,  27.,  18.,  93.])

In [ ]:
submission = pd.read_csv('data/submission.csv')

In [ ]:
submission['count'] = pred

In [ ]:
submission.to_csv('sub.csv',index=False)